p{
    padding-top: 2rem;
    max-width: 50px;
    margin: 0 auto;
    text-align: center;
    color:red;
}
.logo{
    background-image: url('..//img/113.png');
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-size: auto;
}